.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5px;
    max-width: 500px;
    margin: 0 auto;
}
.tilewrap {
    width: 100px;
    height: 100px;
    background-image: url('/puzzle_rover.jpg');
    background-size: 500% 500%;
    background-position: center;
    cursor: pointer;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.tilewrap.selected {
    background-color: #04AA6D;
    color: white;
}

.selected {
    outline: 3px solid #04AA6D;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 16px;
    color: #833b02;
    text-align: center;
    letter-spacing: 0.5px;
}

